* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  position: sticky;
  top: 0;
  background-color: #5c6bc0;
  color: white;
  padding: 15px 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffeb3b;
}

section.content {
  padding: 80px 20px;
  height: 2000px; /* para probar el scroll */
}
